body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #050505;
    margin-bottom: 15px;
}

form {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 600px;
    background-color: #ffffff;
}

label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

input[type="number"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
